@import url(https://fonts.googleapis.com/css?family=Fauna+One|Dancing+Script:400,700|Oxygen:300,400,700);

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* border: dotted 1px red; */
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
}

body {
  line-height: 1.42857143;
  margin: 0 auto;
  min-width: 30rem;
}

.App {
  text-align: center;
  height: 5vh;
}

.App .fi-info {
  font-size: 100%;
  padding: 0 0.75rem;
  color: gray;
}

.App .fi-info:hover { 
  color: black;
}

.App .header {
  /* background-color: rgba(0, 0, 0, 0.5); */
      background: linear-gradient(to bottom right, #335f80, #443380);
      border-bottom: #dad2c7 solid 1px; 
      margin: -1px 0;
      padding: 0;
}

.App .App-title {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  font-weight: 700;
  color: #dad2c7;   
  opacity: 1;
  /* height: 10vh; */
  padding: 0;
  margin-bottom: 0;
  /* opacity: 1; */
}