@import url(https://fonts.googleapis.com/css?family=Fauna+One|Dancing+Script:400,700|Oxygen:300,400,700);

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  //border: dotted 1px red;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
}

body {
  //line-height: 1.42857143;
  margin: 0 auto;
  min-width: 30rem;
}

.App {
  text-align: center;
}

.App-title {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  font-weight: 700;
  color: #666;   
  background-color: #999;
}

.App h1 {
  height: 10vh;
  margin-bottom: 0;
}

.App .fi-info {
  font-size: 100%;
  padding: 0 0.75rem;
  color: gray;
}

.App .fi-info:hover { 
  color: black;
}
