.Config {
    width: 90%;
    height: 30vh;
    padding: 0.5rem 0;
    background-color: lightgrey;

    font-size: 125%;
    font-family: Fauna One;
    font-weight: 400;
}

.Config label {
    border: solid 2px red;
    
    margin: 0;
    padding: .50rem;
    

    font-size: 110%;
    font-family: Fauna One;
    font-weight: 400;
}