.Config {
    width: 95%;
    margin: .5rem 0;
    padding: 0.5rem 0;
    /* background-color: lightgrey; */
    background: linear-gradient(to bottom right, #dad2c7, #eeeff6);

    font-size: 125%;
    font-family: Fauna One;
    font-weight: 400;

    text-align: left;


}

.Config label {
    padding: .50rem;
    
    font-size: 114%;
    font-family: Fauna One;
    font-weight: 400;
    text-align: left;
}

.Config input {
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;

    padding: 1.5rem .75rem;
}

.Config select {
    display: inherit;
}

.Config option {
    display: inherit;
}