.Config {
    width: 95%;
    padding: 0.5rem 0;
    background-color: lightgrey;

    font-size: 125%;
    font-family: Fauna One;
    font-weight: 400;

    text-align: left;
}

.Config label {
    padding: .50rem;
    
    font-size: 110%;
    font-family: Fauna One;
    font-weight: 400;
    text-align: left;
}

.Config input {
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;

    padding: 1.5rem .75rem;
}

.Config select {
    display: inherit;
}

.Config option {
    display: inherit;
}