
   


/* .DataList table {
    width: 100%;
    height: 100%;
    border-spacing: collapse;
    border-collapse: collapse;
    
    
    
}
 .DataList table tbody {
    
    background-color: #dad2c7;
    width: 100%;
    height: 90%; 
    bottom: 0;
}
    
    
.DataList {
    display: inline-block;
    overflow-y: scroll;
    border: none;
}


.DataList .labelsInner {
    display: contents;
    width: 100%;

}

.DataList th {
    
font-weight: none;
height:100%;
    color: #ffffff;
    background-color: #283143;
    border: none;
    
}

.DataList td {
    background-color: white;
   
}

.DataList thead {
    position: fixed;
}

.DataList thead th {
    display: inline-block;

} */

.DataList {
    width: 100%;
    height: 70vh;
    margin: none;
    padding: none;
    background-color: none;
    overflow-y: scroll;
    display: inline-block;
    background: linear-gradient(to top left, #dad2c7, #eeeff6);
    
}

.DataList table {
    border-collapse: collapse;
    background-color: none;
    width: 100%;     
}

.DataList thead {
    color: #dad2c7;
    /* background-color: #43617d; */
    background: linear-gradient(to bottom right, #335f80, #443380);
    margin: 5px;
}

.DataList tbody {
    color: #5a8dab;
}