
   

 .DataList table {
    
    
    width: 100%;
    height: 90%; 
}
    
    
.DataList {
    display: inline-block;
    overflow: scroll;
}


.DataList .labelsInner {
    display: contents;
    width: 100%;

}



