.SignIn {
  position: relative;
  margin: 0;
  padding: 0;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur-bgimage {
  position: absolute;
  margin: 1rem 0;
  padding: 5px;
  width: 98%;
  height: 100%;
  background: url('https://images.unsplash.com/photo-1519093614200-39c731aed790');
  background-position: 25% 42%;
  background-repeat: no-repeat;
  background-size: cover;
 
  filter: blur(10px) grayscale(.5);
    -moz-filter: blur(6px) grayscale(.5);
    -webkit-filter: blur(6px) grayscale(.5);
    -o-filter: blur(6px) grayscale(.5);
}

.SignIn .see-thru {
  background: rgba(171, 205, 239, 0.4);
  margin: 0;
  padding: 0;
}

.SignIn .card {
  position: absolute;
  width: 65%;
  border-radius: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: #030303;
}

.SignIn main h3 {
  font-family: "Fauna One";
  margin: 2rem;
}

.SignIn p {
  font-family: "Fauna One";
  font-size: 1.2rem;
  font-weight: 300;
  width:75%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 2rem;
}

.SignIn .signin-list {
  display: flex;
  flex-direction: column;
}

.SignIn button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  margin: 0 auto;
  padding: 1rem;
  transition: background 0.2s;
    -moz-transition: background 0.2s;
    -webkit-transition: background 0.2s;
    -o-transition: background 0.2s;
  font-family: 'helvetica neue', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.SignIn button:hover {
  box-shadow: 5px 5px 7px #aaaaaa;
  cursor: pointer;
}

.SignIn button:focus {
  outline: none;
}

.SignIn button+button {
  margin-top: 0.75rem;
}

.SignIn button.github {
  border: 1px solid #dad2c7;
  background-color: #444;
  color: #dad2c7;
}

.SignIn button.github i.fab, .SignIn button.github .svg {
  margin: 0.2rem 0.5rem 0.2rem 0;
}

.SignIn button.google {
  background-color: #F5F5F5;
  color: #030303;
  margin-bottom: 2rem;
}

.SignIn button.google i.fab, .SignIn button.google svg {
  margin: 0.2rem 0.5rem 0.2rem 0;
}